
h1{
    font-family: 'Arimo', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}



#gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 15px;
	justify-content: center;
}

.img{
    width:100%;
}

footer{
    background:url("/IMG/wood.jpg");
    background-size: 100%;
    padding: 2vh;
  }

  form{
      background:lightgrey;
      color:black;
      padding:2vh;
      width:20vw;
  }